@charset "utf-8";
/* CSS Document */

#main-container {
width:1000px;
height:auto;
margin-left:auto;
margin-right:auto;

}

#mainhead {
width:1000px;
height:147px;
clear:both;
}

#navigation {
width:940px;
height:35px;
margin-top:25px;
margin-right:60px;
}

#video-image {
width:860px;
height:410px;
clear:both;
background-image:url(../images/videos_bk.jpg);
background-repeat:no-repeat;
margin-top:20px;
margin-left:45px;
border:thin solid #3362b4;
border-top-left-radius:30px;
border-top-right-radius:30px;
border-bottom-left-radius:30px;
border-bottom-right-radius:30px;

-webkit-box-shadow: inset -7px 7px 20px 0px rgba(81,97,128,1);
-moz-box-shadow: inset -7px 7px 20px 0px rgba(81,97,128,1);
box-shadow: inset -7px 7px 20px 0px rgba(81,97,128,1);

}



#apsaralogo {
width:145px;
height:145px;
background-color:#FFFFFF;
border-top-left-radius:200px;
border-top-right-radius:200px;
border-bottom-left-radius:200px;
border-bottom-right-radius:200px;
position: absolute;
margin-top:-512px;
margin-left:100px;
}


#videoswrap {
	width:860px;
	height:900px;
	clear:both;
	margin-left:45px;
	margin-top:20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#333;
	text-align:justify;
}






#bottom-navigation {
width:500px;
height:20px;
margin-left:130px;
margin-top:20px;
float:left;
}

#social {
width:50 px;
height:20px;
margin-top:20px;
float:right;
margin-right:97px;
}















#footer-image {
width:1000px;
height:0px;
margin-left:auto;
margin-right:auto;
}

.footer-logo {
position:absolute;
margin-left:-710px;
margin-top:-50px;
}





